* {
    margin: 0;
    padding: 0;
    background-color: white;
}

#welcome {
    text-align: center;
    margin-top: 300px;
}

.content {
    text-align: center;
}

#test {
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}

#quiz-clock{
    margin-top: 10px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
}

p{
    margin-left: 5px;
}

.answer-button {
    font-size: large;
    font-weight: 600;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
}

#submit-answer {
    justify-content: center;
}

.record {
    text-align: center;
    margin: 200px auto 0;
}

.scores {
    text-align: center;
    margin: 200px auto 0;
}

.hide {
    display: none;
}

